<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
chat

<form id="form">
<input type="text" name="message"/>

</form>

<div id="messages"></div>

<script type="text/javascript">
     let url = 'ws://'+window.location.host+'/ws/s/';

     const chatSocket = new WebSocket(url);

     chatSocket.onmessage = function(e){
         let  data = JSON.parse(e.data)
         console.log('data', data)

         if(data.type === 'chat'){

             let messages = document.getElementById('messages')
             console.log(messages)
             messages.insertAdjacentHTML('beforeend', '<div><p> '+data.message+'</p></div>')
         }
     }

     let form = document.getElementById('form')
     form.addEventListener('submit', (e)=>{
         e.preventDefault()
         let message = e.target.message.value
         chatSocket.send(JSON.stringify({
             'message': message,
             'command': 'fetch_messages'
         }))
         form.reset()
     })
</script>
</body>
</html>